.form {
  position: sticky;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  z-index: 1;

  padding: 12px;
}

.input,
.textarea {
  width: 100%;
  margin-bottom: 4px;
}

.button {
  width: 100%;
  border-color: #000;
  box-shadow: 4px 4px 8px 0 #0004;
  /* margin: 0 auto; */
}
.error {
  border-color: #f00;
}
