.waitingBtn {
  border-color: var(--waiting-status);
  /* box-shadow: 4px 4px 8px 0 #7774; */
}
.waitingBtn.picked {
  color: var(--waiting-status);
  box-shadow: 4px 4px 8px 0 var(--waiting-status-50);
}
.processingBtn {
  border-color: var(--processing-status);
  /* box-shadow: 4px 4px 8px 0 #59d4; */
}
.processingBtn.picked {
  color: var(--processing-status);
  box-shadow: 4px 4px 8px 0 var(--processing-status-50);
}
.completedBtn {
  border-color: var(--completed-status);
  /* box-shadow: 4px 4px 8px 0 #0b54; */
}
.completedBtn.picked {
  color: var(--completed-status);
  box-shadow: 4px 4px 8px 0 var(--completed-status-50);
}

.picked {
  /* box-shadow: 4px 4px 8px 0 #0004; */
}
