.editTodoForm {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* margin: 0; */
  min-width: 440px;
  /* max-width: 100%; */
  flex: 1 1;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (max-width: 600px) {
  .editTodoForm {
    margin-left: 12px;
  }
}

.titleInput {
  margin: 8px 0;
}

.bodyTextarea {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls button + button {
  margin-left: 4px;
}

.deleteBtn {
  border-color: var(--red);
  box-shadow: 4px 4px 8px 0 var(--red-25);
}

.cancelBtn {
  border-color: var(--orange);
  box-shadow: 4px 4px 8px 0 var(--orange-25);
}

.doneBtn {
  border-color: var(--black);
  box-shadow: 4px 4px 8px 0 var(--black-25);
}
