.todoItem {
  width: 100%;
  text-align: left;

  padding-top: 6px;
  padding-bottom: 6px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoItem + .todoItem {
  margin-top: 4px;
}

.picked {
  border-color: var(--orange);
  box-shadow: 4px 4px 8px 0 var(--orange-25);
}

.indicator {
  position: relative;
  margin-right: 14px;
}

.indicator::before {
  position: absolute;
  content: "●";
  font-size: 24px;
  top: -6px;
  left: -2px;
}

.waiting {
  color: var(--waiting-status);
}
.processing {
  color: var(--processing-status);
}
.completed {
  color: var(--completed-status);
}

.highlight {
  background-color: var(--orange-50);
  /* height: 5em; */
  /* line-height: 2; */
  padding-top: 0.05em;
}
