.todoItem {
  width: 100%;
  text-align: left;

  padding-top: 6px;
  padding-bottom: 6px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoItem + .todoItem {
  margin-top: 4px;
}

.picked {
  border-color: #f80;
  box-shadow: 4px 4px 8px 0 #f804;
}

.indicator {
  position: relative;
  margin-right: 14px;
}

.indicator::before {
  position: absolute;
  content: "●";
  font-size: 24px;
  top: -6px;
  left: -2px;
}

.waiting {
  color: #777;
}
.processing {
  color: #59d;
}
.completed {
  color: #0b5;
}
