.changer {
  position: relative;
  height: 100vh;
  min-width: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: e-resize;
  /* user-select: none; */
}

.line {
  max-height: 100%;
  width: 1px;
  background-color: #88c8;
  /* border: 1px solid #88c8; */
  margin: 8px 0;
  box-shadow: 0 0 8px 2px #88c8;
}

.changer > * {
  visibility: hidden;
}

.changer:hover > * {
  visibility: visible;
}

.line::after {
  content: "< >";
  /* font-size: 12px; */
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #88c8;
}
