@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary: #88c;
  --primary-50: rgba(136, 136, 204, 0.5);
  --primary-25: rgba(136, 136, 204, 0.25);
  --primary-10: rgba(136, 136, 204, 0.1);

  --white: #fff;
  --black: #000;
  --black-25: rgba(0, 0, 0, 0.25);
  --gray: #ccc;
  --gray-50: rgb(204, 204, 204, 0.5);
  --gray-25: rgb(204, 204, 204, 0.25);
  --orange: #f80;
  --orange-50: rgba(255, 136, 0, 0.5);
  --orange-25: rgba(255, 136, 0, 0.25);
  --red: #f44;
  --red-25: rgba(255, 68, 68, 0.25);

  --waiting-status: #777;
  --waiting-status-50: rgba(119, 119, 119, 0.5);
  --processing-status: #59d;
  --processing-status-50: rgba(85, 153, 221, 0.5);
  --completed-status: #0b5;
  --completed-status-50: rgba(0, 187, 84, 0.5);

  --primary-text: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-10);
  color: var(--primary-text);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  /* box-shadow: inset 0 0 4px #eee; */
  border-radius: 4px;
}

.App {
  display: flex;
  /* justify-content: space-between; */
  padding: 12px;
  height: 100vh;
  /* width: 100%; */
  user-select: none;
}

.App > * {
  max-height: 100%;
}

section {
  background-color: var(--white);
  border-radius: 16px;
  padding: 12px;
  box-shadow: 4px 4px 16px 4px var(--black-25);
}

/* section + section {
  margin-left: 12px;
} */

button {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: 4px;
  box-shadow: 4px 4px 8px 0 var(--gray-25);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  box-shadow: none;
}

input,
textarea {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 6px;
  box-shadow: 4px 4px 8px 0 var(--primary-25);
  font-size: 16px;
}
textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--orange);
  box-shadow: 4px 4px 8px 0 var(--orange-25);
}
